body {
    background-color: #fcfcfa;
}

form {
    margin: 8px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

div.row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    flex-grow: 1;
}

div.row.end {
    justify-content: flex-end;
}

label {
    width: 100px;
}

label, button {
    flex-grow: 0;
    flex-shrink: 0;
}

input {
    flex-grow: 1;
    flex-shrink: 1;

    margin-left: 8px;
    outline: 0;
    border-width: 1px;
}

textarea {
    flex-grow: 1;
    flex-shrink: 1;

    margin-left: 8px;
    resize: none;
    height: 60px;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

hr.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;

    width: 100%;
}

hr.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

hr.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;

    background-color: #fcfcfa;
}
